
@{
    ViewBag.Title = "xóa mặt hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">Chef Anton's Cajun Seasoning</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">	48 - 6 oz jars</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">22.000</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    <img src="https://dummyimage.com/250x250.png/cc0000/ffffff&text=Product%20Photo"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default btn-danger" style="color:white">
                        <i class="glyphicon glyphicon-floppy-disk"></i>Xóa dữ liệu
                    </button>
                    <a href="~/Product" class="btn btn-warning" style="margin-left:5px">Quay lại</a>
                </div>
            </div>

        </form>
    </div>
</div>


